:root {
    /* Colors */
    --yellow-button: #fbe850;
    --background-grey: #2e3038;
    --background-black: #0a0a0b;
    --body-letters-color: #adadad;
    /* fonts */
    --font-headings: Prata;
    --font-body: Inter;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}
body {
    padding: 0rem 0rem;
    margin: 0rem 0rem;
    font-family: var(--font-body);
    background-color: var(--background-black);
}
body p {
    color: var(--body-letters-color);
    font-size: 1.9rem;
    margin: 0rem;
}
body h1 {
    font-family: var(--font-headings);
    color: white;
    font-weight: 500;
    font-size: 3.9rem;
    margin-bottom: 1.5rem;
}
body h2 {
    font-family: var(--font-headings);
    color: white;
    font-weight: 500;
    font-size: 3.5rem;
}
a {
    color: var(--body-letters-color);
    text-decoration: none;
}
a:hover {
    color: grey;
}
li {
    list-style: none;
}

/* buttons styles */
.principal-button {
    width: 13.2rem;
    height: 4rem;
    border: none;
    font-family: var(--font-headings);
    font-weight: 600;
    background-color: var(--yellow-button);
    cursor: pointer;
}
.principal-button:hover {
    background-color: #fff07c;
}

/* header styles */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.8rem;
    padding-bottom: 4rem;
}
header .nav-desktop {
    display: none;
}
.logo-header-footer {
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
}

header nav img {
    padding-right: 2rem;
    background-color: #0a0a0b;
}

/* general section styles */
.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
    padding: 0rem 2rem;
    width: 100%;
}

/* section 1 */
.section-1 {
    display: flex;
    flex-direction: column;
}
.section-1 picture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}
.principal-button {
    margin-top: 2rem;
    height: 5rem;
}
.section-1 picture img {
    margin: 1.2rem 1.7rem;
}

/* section 2 and section 3 */
.section-2 picture,
.section-3 picture {
    width: 40rem;
}
.section-2 picture img,
.section-3 picture img{
    margin-top: 8rem;
    width: 100%;
}
.section-3 picture img {
    margin-top: 4rem;
}
.section-2 h1,
.section-3 h1 {
    margin-top: 1.7rem;
}
.section-2 p,
.section-3 p {
    padding-bottom: 1.5rem;
}
.section-3 p {
    padding-bottom: 7rem;
}

/* section 4 */
.section-4 {
    width: 100%;
    background-color: var(--background-grey);
    padding-bottom: 5rem;
}
.section-4 h1 {
    margin: 0rem;
    padding-top: 6rem;
}
.section-4 p:nth-child(2) {
    padding-top: 2rem;
}
.section-4 p:nth-child(3),
.section-4 p:nth-child(5), 
.section-4 p:nth-child(6),
.section-4 p:nth-child(7) {
    padding-top: 3rem;
}
.section-4 p:nth-child(4) {
    padding-top: 7rem;
}
.section-4 p:nth-child(7) {
    padding-bottom: 5rem;
}

/* section 5 */
.section-5 {
    padding-bottom: 6rem;
    padding-top: 6rem;
}
.section-5 h1 {
    padding-top: 0rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.section-5 p {
    padding-bottom: 0rem;
}

/* footer styles */
footer {
    background-color: var(--background-grey);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

footer .logo-header-footer {
    padding-left: 0rem;
}

footer .footer-right img {
    margin: 0rem 0.6rem;
}

@media (min-width: 429px) {

    body p {
        color: var(--body-letters-color);
        font-size: 2.2rem;
        margin: 0rem;
    }
    body .section-1 h1 {
    font-size: 6rem;
    }

    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5 {
    padding: 0rem 3.4rem;
    }

    .section-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .principal-button {
        display: none;
    }
    .section-1 picture {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;
    }
    .section-1 picture img {
        margin: 1.2rem 5rem;
    }
    .section-4 div:nth-child(1){
        padding-bottom: 10rem;
    }
    .section-4 div:nth-child(2) {
        padding-bottom: 6rem;
    }

    .section-5 {
        padding-top: 6rem;
        padding-bottom: 6rem;
        padding-right: 17rem;
    }
    .section-5 h1 {
        padding-top: 0rem;
    }
    .principal-button {
        display: block;
        width: 20rem;
        height: 5.5rem;
        font-size: 2rem;
        font-weight: 600;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer .logo-header-footer {
        padding-left: 4rem;
    }
    
    footer .footer-right {
        padding-right: 4rem;
    }

}

@media(min-width: 1024px) {

    /* general styles */
    html {
        font-size: 50%;
    }
    body {
        background-color: var(--background-black);
        width: 100%;
    }
    header,
    footer {
        padding: 0rem 18rem;
    }
    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5 {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .section-1,
    .section-4,
    .section-5 {
        padding-left: 18rem;
        padding-right: 18rem;
    }
    .section-2 {
        padding-left: 18rem;
    }
    .section-3 {
        padding-right: 18rem;
    }

    .section-1,
    .section-2,
    .section-3,
    .section-5,
    header {
        background-color: var(--background-black);
    }
    .section-4 {
        background-color: var(--background-grey);
    }

    body p {
        font-size: 1.8rem;
    }

    /* header styles */
    header .nav-mobile-tablet {
        display: none;
    }
    header .nav-desktop {
        display: flex;
    }
    header .nav-desktop ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    header .nav-desktop ul li {
        margin: 0rem 2rem;
        font-size: 1.8rem;
    }
    .a-more-options {
        display: none;
    }
    .principal-button {
        display: inline-block;
        width: 18rem;
        height: 5.5rem;
        font-size: 2rem;
        font-weight: 600;
    }
    header .nav-desktop h1 {
        padding-left: 0rem;
    }

    /* main styles */
    main {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(2, 55rem) repeat(1, 40rem) repeat(1, 30rem);
    }

    main .section-1 {
        grid-row: 1/2;
        grid-column: 1/3;
    }
    body .section-1 h1 {
        font-size: 5.5rem;
        margin-top: 0rem;
    }
    .section-1 div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .section-1 div h1{
        margin-right: 40rem;
    }
    .section-1 div p {
        margin-right: 40rem;
    }
    .section-1 picture {
        display: flex;
        justify-content: space-between;
        gap: 1.8rem;
    }
    .section-1 picture img {
        margin: 1.2rem 0rem;
    }

    main .section-2 {
        justify-self: center;
        align-self: center;
        grid-row: 2/3;
        grid-column: 1/2;
        height: 50rem;
        margin-bottom: 10rem;
    }
    main .section-2 img {
        margin-top: 0rem;
    }
    main .section-2 p {
        padding-bottom: 0rem;
    }


    main .section-3 {
        grid-row: 2/3;
        grid-column: 2/3;
        height: 50rem;
        margin-bottom: 10rem;
    }
    main .section-3 img {
        margin-top: 0rem;
    }
    main .section-3 p {
        padding-bottom: 0rem;
    }


    main .section-4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        grid-row: 3/4;
        grid-column: 1/3;
    }
    main .section-4 div:nth-child(1) {
        padding-right: 11rem;
        padding-bottom: 0rem;
    }
    main .section-4 div:nth-child(2) {
        padding-left: 11rem;
        padding-bottom: 0rem;
    }
    main .section-4 h1 {
        padding-top: 0rem;
    }
    main .section-4 div:nth-child(2) p:nth-child(4) {
        padding-top: 3rem;
    }

    main .section-5 {
        margin-bottom: 0rem;
        grid-row: 4/5;
        grid-column: 1/3;
        padding-top: 4rem;
        padding-bottom: 7rem;
    }
    main .section-5 h1 {
        padding-top: 0rem;
    }

    footer {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    footer .logo-header-footer {
        padding-left: 0rem;
    }
    footer .footer-right {
        padding-right: 0rem;
    }
}
@media(min-width: 1150px) {
    .section-1 picture {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
    }
}

@media (min-width: 1500px) {
    body {
        width: 100%;
    }
    main {
        row-gap: 10rem;
    }
    .principal-button {
        width: 22rem;
        height: 6rem;
    }
    header .nav-desktop .logo-header-footer {
        font-size: 3rem;
    }
    header .nav-desktop ul li {
        font-size: 2.5rem;
    }
    main .section-5 {
        padding-top: 0rem;
        padding-bottom: 12rem;

    }
    .section-1 picture {
        display: flex;
        justify-content: space-between;
        gap: 15rem;
        margin-top: 13rem;
    }
    footer {
       width: 100%;
    }


}

@media (min-width: 1919px) {
    html body footer {
        width: 100%;
    }
    html body header {
        width: 100%;
    }
    html body header .nav-desktop{
        width: 100%;
    }
    main .section-2,
    main .section-3 {
        margin-bottom: 30rem;
    }
    main .section-4 {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}   

